body { background: #f4f5f6; }
section { background: #fff; box-shadow: 5px 5px 10px rgba(0,0,0,.05); border-radius: 5px; }
card { background: #f4f5f6; }
.preview { text-align: center; margin: 20px 0; }
footer:before { width: 100%; }
